<div [@routerTransition]>
    <app-page-header [heading]="'Contratos'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">

        <div class="card-header" style="text-align: -webkit-center;">Contratos aqui Registrados</div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-12 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px;  "
                        (click)="open(content)"><i style="color: white" class="fa fa-plus" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top" title="Agregar"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>numero de folio</th>
                            <th>Elaboracion</th>
                            <th>Fecha de firma</th>
                            <th>Cliente</th>
                            <th>Agente</th>
                            <th>Garantia</th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Folio..." aria-label="Search"
                                    [(ngModel)]="conFolio" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Elaboracion..." aria-label="Search"
                                    [(ngModel)]="conElaboracion" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Fecha..." aria-label="Search"
                                    [(ngModel)]="conFecha" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Cliente..." aria-label="Search"
                                    [(ngModel)]="conCliente" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Agente..." aria-label="Search"
                                    [(ngModel)]="conAgente" />
                            </th>
                            <th style="background-color:transparent">
                                <input class="form-control mr-sm-2" type="text" placeholder="Garantia..." aria-label="Search"
                                    [(ngModel)]="conGarantia" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let contrato of contratos | searchfilter: conFolio:conElaboracion:conFecha:conCliente:conAgente:conGarantia | paginate: { itemsPerPage: numPage, currentPage: pages }"
                            (click)="onEdit(i)">
                            <td>{{contrato.folioNumber}}</td>
                            <td>{{contrato.elaborationDate}}</td>
                            <td>{{contrato.firmDate}}</td>
                            <td>{{contrato.client.firstName}} {{contrato.client.lastName}} </td>
                            <td>{{contrato.agent.firstName }} {{contrato.agent.lastName }}</td>
                            <td>{{contrato.warranties.name }}</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(ver)" data-toggle="tooltip" data-placement="top" title="Detalle">
                                        <fa-icon [icon]="faEye"></fa-icon>
                                    </button>
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(editar)" data-toggle="tooltip" data-placement="top" title="Editar">
                                        <fa-icon [icon]="faEdit"></fa-icon>
                                    </button>
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="onDelete(i)" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <fa-icon [icon]="faTrash"></fa-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-template #p="paginationApi" (pageChange)="pages=$event">
                <nav class="text-left" style="position: relative; left: 1.1rem;">
                    <ul class="pagination">
                        <li class="page-item" [class.disabled]="p.isFirstPage()">
                            <a class="page-link" (click)="p.previous()"> <span class="fa fa-angle-double-left"></span>
                            </a>
                        </li>

                        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="page-item"
                            [ngClass]="{'active' : p.getCurrent() === page.value}">
                            <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                {{ page.label }} </a>
                            <a class="page-link" *ngIf="p.getCurrent() === page.value"> {{ page.label }} </a>
                        </li>

                        <li class="page-item" [class.disabled]="p.isLastPage()">
                            <a class="page-link" (click)="p.next()"> <span class="fa fa-angle-double-right"></span> </a>
                        </li>
                    </ul>
                </nav>
            </pagination-template>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Contrato </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form role="form" #contratoForm="ngForm" (ngSubmit)="submit()" id="form" class="form-horizontal">
            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label>Numero de Folio</label>
                    <input type="text" [(ngModel)]="contract.folioNumber" name="folioNumber" placeholder="Número de folio *"
                        class="form-control" />
                </div>

                <div class="form-group col-md-6">
                    <label>Fecha de la Firma</label>
                    <input name="firmDate" [(ngModel)]="contract.firmDate" name="firmDate" [bsConfig]="datePickerConfig"
                        type="text" class="form-control" placeholder="Fecha de la Firma*" bsDatepicker autocomplete="off"
                        required>
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label>Fecha</label>
                    <input name="elaborationDate" [(ngModel)]="contract.elaborationDate" name="elaborationDate"
                        [bsConfig]="datePickerConfig" type="text" class="form-control" placeholder="Fecha de elavoración*"
                        bsDatepicker autocomplete="off" required>
                </div>

                <div class="form-group col-md-6">
                    <label>Cliente</label>
                    <select name="nombreCli" [(ngModel)]="contract.client.firstName" (ngModelChange)="clientChanged($event)"
                        class="form-control">
                        <option *ngFor="let listClient of clients" [value]="listClient.id">
                            {{listClient.firstName}} {{listClient.lastName}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label>Agente</label>
                    <select name="nombreAgent" [(ngModel)]="contract.agent.firstName" (ngModelChange)="agentChanged($event)"
                        class="form-control">
                        <option *ngFor="let listAgente of employees" [value]="listAgente.id">
                            {{listAgente.firstName}} {{listAgente.lastName}}
                        </option>
                    </select>
                </div>

                <div class="form-group col-md-6">
                    <label>Inmueble</label>
                    <select class="form-control">
                        <option>Selecionar</option>
                        <option>Casa Blanca</option>
                        <option>Casa Rosada</option>
                        <option>Edifico III</option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="form-group col-md-6">
                    <label>Estados</label>
                    <select class="form-control">
                        <option>Selecionar</option>
                        <option>En Espera</option>
                        <option>En Proceso</option>
                        <option>Realizado</option>
                    </select>
                </div>
                <div class="col-md-6">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-10">
                </div>
                <div class="form-group col-md-2 ">
                    <button style="background: #1AB394; border-radius: 20px" type="submit" class="btn btn-success float-right"
                        (click)="c('Close click')"><i style="color: white" class="fa fa-plus" aria-hidden="true"
                            data-toggle="tooltip" data-placement="top" title="Guardar"></i></button>
                </div>
            </div>
        </form>
    </div>
</ng-template>