<div [@routerTransition]>
    <app-page-header [heading]="'Roles'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">
        <div class="card-header" style="text-align: -webkit-center;">Roles Registrados</div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <label>Mostrar <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entradas</label>
                </div>
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
                        <span class="input-group-btn">
                            <button style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;"><i
                                    style="color: white" class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col col-sm-4 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                        (click)="open(content)"><i style="color: white" class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of roles ; let i= index" (click)="onEdit(i)">
                            <td>{{ item.name}}</td>
                            <td>{{ item.description}}</td>
                            <td>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(ver)">
                                    <i style="color: white" class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(editar)">
                                    <i style="color: white" class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="onDelete(i)">
                                    <i style="color: white" class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-3">
                <div class="col col-sm-8">
                </div>
                <div class="col col-sm-4 text-right" style="position: relative; top: 15px; ">
                    <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" style="position: relative; right: 100px;"></ngb-pagination>
                </div>
            </div>
            <ng-template #content let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title ">Crear Rol</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row mb-6">
                        <div class="col col-sm-6">
                            <div class="form-group">
                                <label for="tipos">Nombre</label>
                                <input type="text" [(ngModel)]="rol.name" class="form-control" />
                            </div>
                        </div>
                        <div class="col col-sm-6">
                            <div class="form-group">
                                <label for="tipos">Description</label>
                                <input type="text" [(ngModel)]="rol.description" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <ng-select class="custom" 
                        dropdownPosition=auto [closeOnSelect]=false [searchable]=true addTagText="Funciones" [items]="functions"
                        [multiple]="true" bindLabel="name" [selectableGroup]="true" bindValue="id" [(ngModel)]="dataModel">
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name
                            | uppercase}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                        </ng-template>
                    </ng-select>
                    <br>
                    <ngx-select [multiple]="true"
                    [items]="functions"
                    optionValueField="name" 
                    [disabled]="ngxDisabled"
                    [(ngModel)]="ngxValue"
                    placeholder="Seleccione las Funciones"
                    (selectionChanges)="doSelectOptions($event)">
                   </ngx-select>





                </div>
                <div class="modal-footer">
                    <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success"
                        (click)="c('Close click')"><i style="color: white" class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </ng-template>
            <ng-template #editar let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title ">Editar Rol</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col col-sm-6">
                                <div class="form-group">
                                    <label for="tipos">Nombre</label>
                                    <input type="text" [(ngModel)]="rol.name" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <div class="form-group">
                                    <label for="tipos">Descripción</label>
                                    <input type="text" [(ngModel)]="rol.description" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <ng-select class="custom" 
                        dropdownPosition=auto [closeOnSelect]=false [searchable]=true addTagText="Funciones" [items]="functions"
                        [multiple]="true" bindLabel="name" [selectableGroup]="true" bindValue="id" [(ngModel)]="dataModel">
                        <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name
                            | uppercase}}
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                            <input id="item-{{index}}" type="checkbox" [ngModel]="item$.selected" /> {{item.name}}
                        </ng-template>
                    </ng-select>
                    </div>
             
                <div class="modal-footer">
                    <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success"
                        (click)="c('Close click')"><i style="color: white" class="fa fa-edit" aria-hidden="true"></i></button>
                </div>
            </ng-template>
            <ng-template #ver let-c="close" let-d="dismiss">
                <div class="modal-header">
                    <h4 class="modal-title ">Cliente</h4>
                    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="card mb-3">
                    <div class="modal-body">
                        <div class="row mb-3">
                            <div class="col col-sm-6">
                                <div class="form-group">
                                    <label for="tipos">Nombre</label>
                                    <input type="text" [(ngModel)]="rol.name" class="form-control" />
                                </div>
                            </div>
                            <div class="col col-sm-6">
                                <div class="form-group">
                                    <label for="tipos">Descripción</label>
                                    <input type="text" [(ngModel)]="rol.description" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button style=" border-radius: 20px" type="button" class="btn btn-danger" (click)="c('Close click')"><i
                            style="color: white" class="fa fa-close" aria-hidden="true"></i></button>
                </div>
            </ng-template>
        </div>
    </div>