
<div [@routerTransition]>
    
    <app-page-header [heading]="'Roles'" [icon]="'fa-edit'"></app-page-header>
    <div class="container ">     
        <div class="card-header" style="text-align: -webkit-center;">Roles Registrados</div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <label>Mostrar <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entradas</label>
                </div>
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
                        <span class="input-group-btn">
                            <button style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;"><i
                                    style="color: white" class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col col-sm-4 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                        (click)="open(content)"><i style="color: white" class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                           
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let role of roles; let i = index" (click)="onEdit(i)">
                            <td>{{ role.name}}</td>
                            <td>{{ role.description}}</td>
                           
                            <td>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(content)">
                                    <fa-icon [icon]="faEye"></fa-icon>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(editar)">
                                    <fa-icon [icon]="faEdit"></fa-icon>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="delete()">
                                    <fa-icon [icon]="faTrash"></fa-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>

        
                   
                    
               
    </div>
   
                    <ng-template #content let-c="close" let-d="dismiss">
                        <div class="modal-header">
                            <h4 class="modal-title"> Rol </h4>
                            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                           
                          <div class="row mb-3">
                            <div class="col col-sm-6">
                            <div class="form-group">
                                <label for="tipos">Nombre</label>
                                <input type="text"  class="form-control" />
                            </div></div>
                    
                            <div class="col col-sm-6">
                            <div class="form-group">
                                <label for="nombre">Descripcion</label>
                                <input type="text" [(ngModel)]=()  class="form-control" />
                            </div></div></div>
                        </div>
                        <div class="modal-footer">
                    
                            <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-warning" (click)="c('Close click')">
                                <fa-icon style="color: white" [icon]="faEdit"></fa-icon>
                            </button>
                        </div>
                    </ng-template>
               
</div>
 



