<div><hr>
 <h2><i class="fa fa-edit">Suegerencias</i></h2> 
 <hr></div>
 
 <div class="row mb-3">
    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Nombre</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Apellido</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

<hr>
<div class="col col-sm-6">
        <div class="col col-sm-6">
            <label class="ng-tns-c12-9" for="descripcion">Descripcion</label>
            <textarea class="form-control ng-untouched ng-pristine ng-valid" type="text" required style="width: 700px; height: 200px; "></textarea>
        </div>
    </div>
<hr>
</div>

<div>
      <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="limpiar()">Limpiar</button>
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="enviar()">Enviar</button>
    </div>

  </div>
</div>