<div>
    <app-page-header [heading]="'  Sugerencias'" [icon]="'fa-edit'"></app-page-header>

<div><span>Sus observaciones son importantes para que podamos mejorar nuestro sitio web.
         Por favor complete el formulario de sugerencias y envíenoslo con sus observaciones y sugerencias.
        </span>
        <hr>
</div>

<div class="col col-sm-12">
 <div class="form-control">
  <div class="row mb-3">
    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="nombre">Nombre(s):</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
        <div class="form-group">
            <label for="apellido">Apellido(s):</label>
            <input type="text" class="form-control" />
        </div>
    </div>

   <div class="col col-sm-6">
            <div class="form-group">
            <label for="correo">Correo</label>
            <input type="text" class="form-control" />
            </div>
        </div>

         <div class="col col-sm-12">
            <label class="ng-tns-c12-9" for="descripcion">Escriba aquí su mensaje:</label>
            <textarea class="form-control ng-untouched ng-pristine ng-valid" 
                type="text" required style="width: 700px; height: 200px; "></textarea>
        </div>
  </div>

  <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="limpiar()">Limpiar</button>
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="enviar()">Enviar Sugerencias</button>
     </div>
    </div>
 </div>
</div>

</div>
    

    
 