<div class="card-deck">
  <div class="card bg-default">
    <div class="card-body text-center">
      <h2>Actividades</h2>
      <form method="get" action="">
      <div class="row">
          <div class="col-sm">Actividad #1</div>
          <div class="col-sm"><input name="actividad" type="checkbox" /></div>
      </div>
        <br />
        <div class="row">
          <div class="col-sm">Actividad #2</div>
          <div class="col-sm"><input name="actividad" type="checkbox" /></div>
      </div>
        <br />
        <div class="row">
          <div class="col-sm">Actividad #3</div>
          <div class="col-sm"><input name="actividad" type="checkbox" /></div>
      </div>
        <br />
        <div class="row">
          <div class="col-sm">Actividad #4</div>
          <div class="col-sm"><input name="actividad" type="checkbox" /></div>
       </div>
        <br />
        <div class="row">
          <div class="col-sm">Actividad #5</div>
          <div class="col-sm"><input name="actividad" type="checkbox" /></div>
        </div>
        </form>
    </div>
  </div>
  <div class="card bg-default">
    <div class="card-body text-center">
      <h2>Recaudos</h2>
      <fieldset class="form-group">
        <div class="row">
          <div class="col-sm">
            <label for="exampleInputFile">Recaudo #1</label>
          </div>
          <div class="col-sm">
            <input type="file" class="form-control-file" id="InputFile1">
          </div>
        </div>
        <br/>
        <div class="row">
            <div class="col-sm">
              <label for="exampleInputFile">Recaudo #2</label>
            </div>
            <div class="col-sm">
              <input type="file" class="form-control-file" id="InputFile1">
            </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-sm">
                <label for="exampleInputFile">Recaudo #3</label>
              </div>
              <div class="col-sm">
                <input type="file" class="form-control-file" id="InputFile1">
              </div>
            </div>
            <br/>
    </fieldset>
    </div>
  </div>

</div>
