<div class="title" style=" border-style: groove; border-color: rgb(11, 175, 140);">
    <h5>Cliente: {{client.firstName}} {{client.lastName}} </h5>
</div>

<div class="row">
  <div class="col-12 col-lg-12">
    <div class="form-group">
      <label for="tipos">Transacción</label>
      <select class="form-control" name="transaction" id="transaction" [(ngModel)]="perfil2.transaction" transaction="ngModel" (change)="load_transaction(perfil2.transaction)">
          <option *ngFor="let t of transactions" [value]="t.id">{{t.nameForClient}}</option>
      </select>
    </div>
  </div>

</div>

<div class="cliente" style="padding:0; margin:0;"  >
  <div class="card-deck" >
    <div class="card bg-default" style=" border-style: groove; border-color: rgb(11, 175, 140);">
      <div class="card-body text-center">
        <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
          Actividades
        </div>
        <div class="card-body table-responsive">
          <table class="table">
              <thead>
              <tr>
                <div>
                  <td>Estado</td>
                  <td>Actividad</td></div>
                </tr>
              </thead>
              <tbody>
              <tr *ngFor="let list of activities" name="actividad" id="actividad" >
                <div>
                  <td><img src="assets/images/{{list.status}}.png" style="width: 50px; height: 50px;"></td>
                  <td >{{list.name}}</td>
                </div>
              </tr>

              </tbody>
          </table>
      </div>

      </div>
    </div>
    <div class="card bg-default">
      <div class="card-body text-center"  style=" border-style: groove; border-color: rgb(11, 175, 140);">
        <div class="card-header" style="text-align: -webkit-center; background: #1AB394;">
          Recaudos
        </div>
        <div class="card-body table-responsive">
          <table class="table">
              <thead>
              <tr>
                <div>
                  <td>Estado</td>
                  <td>Recaudo</td></div>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let t of transaction; let i= index;">
                  <div *ngFor="let r of t.requirements">
                      <td><img src="assets/images/{{r.status}}.png" style="width: 50px; height: 50px;"></td>
                    <td><label for="exampleInputFile">{{r.name}}</label></td>
                   <!-- <td> <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />-->

                  <!--<button type="button" class="btn btn-success btn-s"
                    (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length" >
                        Subir Archivo
                  </button> </td> -->
                  </div>
              </tr>

              </tbody>
          </table>
      </div>



      </div>
    </div>

  </div>
  </div>
  <!-- Footer -->
<footer class="page-footer font-small teal pt-2" style="background-color:rgb(11, 175, 140); color: honeydew;">
    <div class=" text-center py-1">
        <h2>Leyenda</h2>
      </div>
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">



        <!-- Grid column -->
        <div class="col-md-12 mt-md-0 mt-3">

          <!-- Grid row -->
      <div class="row">
          <!-- Content -->
          <div class="col-md-4 mt-md-0 mt-3">

              <!-- Content -->
              <h5 class="text-uppercase font-weight-bold" style="color:white;">Aceptado</h5>
              <p><img src="assets/images/Aceptado.png" alt="" style="width: 100px; height: 100px;"></p>

            </div>
            <div class="col-md-4 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase font-weight-bold">En Espera</h5>
                <p><img src="assets/images/Espera.png" alt="" style="width: 100px; height: 100px;"></p>

              </div>
              <div class="col-md-4 mt-md-0 mt-3">

                  <!-- Content -->
                  <h5 class="text-uppercase font-weight-bold">Rechazado</h5>
                  <p><img src="assets/images/Rechazado.png" alt style="width: 100px; height: 100px;"p>

                </div>

                </div>
                <!-- Grid row -->

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->



    </div>
    <!-- Footer Text -->

  </footer>
  <!-- Footer -->

















  <!--<form method="get" action="">
    <div class="row">
        <div class="col-sm">Actividad #1</div>
        <div class="col-sm"><input name="actividad" type="checkbox" /></div>
    </div>
      <br />
      <div class="row">
        <div class="col-sm">Actividad #2</div>
        <div class="col-sm"><input name="actividad" type="checkbox" /></div>
    </div>
      <br />
      <div class="row">
        <div class="col-sm">Actividad #3</div>
        <div class="col-sm"><input name="actividad" type="checkbox" /></div>
    </div>
      <br />
      <div class="row">
        <div class="col-sm">Actividad #4</div>
        <div class="col-sm"><input name="actividad" type="checkbox" /></div>
     </div>
      <br />
      <div class="row">
        <div class="col-sm">Actividad #5</div>
        <div class="col-sm"><input name="actividad" type="checkbox" /></div>
      </div>


        <fieldset class="form-group">
          <div class="row">
            <div class="col-sm">
              <label for="exampleInputFile">Recaudo #1</label>
            </div>
            <div class="col-sm">
              <input type="file" class="form-control-file" id="InputFile1">
            </div>
          </div>
          <br/>
          <div class="row">
              <div class="col-sm">
                <label for="exampleInputFile">Recaudo #2</label>
              </div>
              <div class="col-sm">
                <input type="file" class="form-control-file" id="InputFile1">
              </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-sm">
                  <label for="exampleInputFile">Recaudo #3</label>
                </div>
                <div class="col-sm">
                  <input type="file" class="form-control-file" id="InputFile1">
                </div>
              </div>
              <br/>
      </fieldset>



      </form> -->