<div [@routerTransition]>
  <app-page-header [heading]="'Citas'" [icon]="'fa-edit'"></app-page-header>
  <div class="container">

    <div class="row">
      <div class="form-group col-md-4">
        <label class="ng-tns-c12-9" for="employe">Empleados</label>
        <select class="form-control" name="employee" id="employee" required [(ngModel)]="solicitud.employeeId">
          <option *ngFor="let emp of employes" [value]="emp.person.id">{{emp.person.firstName}} {{emp.person.lastName}}
          </option>
        </select>
      </div>
      <div class="col-md-8">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <div class="btn-group ">
          <div class="btn btn-ignusgris" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"
            style="color: #fff; background-color: #AEAEAE; border-color: #AEAEAE;">
            Anterior
          </div>
          <div class="btn btn-ignus" mwlCalendarToday [(viewDate)]="viewDate" style="color: #fff; background-color: #17A185; border-color: #AEAEAE;">
            Hoy
          </div>
          <div class="btn btn-ignusgris" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false"
            style="color: #fff; background-color: #AEAEAE; border-color: #AEAEAE;">
            Siguiente
          </div>
        </div>
      </div>
      <div class="col-md-4">
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
      </div>
      <div class="col-md-4" style="text-align: center;">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
      </div>
      <div class="col-md-4">
      </div>
    </div>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [locale]="locale" [refresh]="refresh"
        [events]="events" (dayClicked)="dayClicked($event.day)">
      </mwl-calendar-month-view>
    </div>
  </div>
</div>