<div [@routerTransition]>
    <app-page-header [heading]="'Solicitudes'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">

        <div class="card-header" style="text-align: -webkit-center;">Solicitudes</div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <label>Mostrar <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entradas</label>
                </div>
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
                        <span class="input-group-btn">
                            <button style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;"><i
                                    style="color: white" class="fa fa-search" aria-hidden="true"data-toggle="tooltip" data-placement="top" title="Buscar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col col-sm-4 text-right">
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Telefono</th>
                            <th> Tipo de Solicitud </th>
                            <th> Fecha</th>
                            <th> Hora</th>
                            <th> Estatus </th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let solicitud of solicitudes| paginate: { itemsPerPage: numPage, currentPage: pages }"
                            (click)=openForEdit(solicitud)>
                            <td>{{solicitud.client.firstName}}</td>
                            <td>{{solicitud.client.lastName}}</td>
                            <td>{{solicitud.client.identification}}</td>
                            <td>{{solicitud.typeService.name}}</td>
                            <td>{{solicitud.requestDate}}</td>
                            <td>Opcional</td>
                            <td>Pendiente</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(ver)" data-toggle="tooltip" data-placement="top" title="Detalle">
                                        <fa-icon [icon]="faEye"></fa-icon>
                                    </button>
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(content)" data-toggle="tooltip" data-placement="top" title="Crear">
                                        <fa-icon [icon]="faCheck"></fa-icon>
                                    </button>
                                    <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                        (click)="open(delete)" data-toggle="tooltip" data-placement="top" title="Eliminar">
                                        <fa-icon [icon]="faCancel"></fa-icon>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <pagination-template #p="paginationApi" (pageChange)="pages=$event">
                <nav class="text-left" style="position: relative; left: 1.1rem;">
                    <ul class="pagination">
                        <li class="page-item" [class.disabled]="p.isFirstPage()">
                            <a class="page-link" (click)="p.previous()"> <span class="fa fa-angle-double-left"></span>
                            </a>
                        </li>

                        <li *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value" class="page-item"
                            [ngClass]="{'active' : p.getCurrent() === page.value}">
                            <a class="page-link" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                                {{ page.label }} </a>
                            <a class="page-link" *ngIf="p.getCurrent() === page.value"> {{ page.label }} </a>
                        </li>

                        <li class="page-item" [class.disabled]="p.isLastPage()">
                            <a class="page-link" (click)="p.next()"> <span class="fa fa-angle-double-right"></span> </a>
                        </li>
                    </ul>
                </nav>
            </pagination-template>
        </div>
    </div>
</div>

<!-- Content -->
<!-- aceptar solicitud -->
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Solicitud </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Cancelar">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row md-3">
            <div class="form-group col-md-6">
                <label class="ng-tns-c12-9" for="title">Titulo</label>
                <input class="form-control ng-untouched ng-pristine ng-valid" name="title" id="title" type="text"
                    [(ngModel)]="solicitudAprov.title" ng-model="title" required>
            </div>
            <div class="form-group col-md-6">
                <label class="ng-tns-c12-9" for="description">Descripcion</label>
                <textarea class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="solicitudAprov.description"
                    name="description" ng-model="description" type="text" rows="3">
                    </textarea>
            </div>
        </div>

        <div class="row md-3">
            <div class="form-group col-md-6">
                <label for="date_start">Fecha de atención</label>
                <div class="input-group">
                    <input name="fecha" id="fecha" [bsConfig]="datePickerConfig" type="text" class="form-control"
                        placeholder="Fecha de atención*" ng-model="date_start" bsDatepicker [(ngModel)]="solicitudAprov.date_start"
                        autocomplete="off">
                </div>
            </div>
            <div class="form-group col-md-6">

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')">
            <i style="color: white" class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"></i>
        </button>
    </div>
</ng-template>

<!--ver-->
<ng-template #ver let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title"> Solicitud </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row md-3">
            <div class="form-group col-md-6">
                <label class="ng-tns-c12-9" for="firstName">Nombre</label>
                <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="solicitud.client.firstName"
                    name="firstName" ng-model="firstName" type="text" disabled>
            </div>
            <div class="form-group col-md-6">
                <label class="ng-tns-c12-9" for="lastName">Apellido</label>
                <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="solicitud.client.lastName"
                    name="lastName" ng-model="lastName" type="text" disabled>
            </div>
        </div>

        <div class="row md-3">
            <div class="form-group col-md-6">
                <label class="ng-tns-c12-9" for="email">Telefono</label>
                <input class="form-control ng-untouched ng-pristine ng-valid" type="text" disabled>
            </div>
            <div class="form-group col-md-6">
                <label class="ng-tns-c12-9" for="name">Tipo de servicio</label>
                <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="solicitud.typeService.name"
                    name="name" ng-model="lastName" type="text" disabled>
            </div>
        </div>

        <div class="row md-3">
            <div class="col-md-12">
                <div class="row md-3">
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            <label class="ng-tns-c12-9" for="description">Descripcion</label>
                            <textarea class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="solicitud.typeService.description"
                                name="description" ng-model="description" type="text" rows="3" disabled>
                            </textarea>
                        </div>
                        <div class="form-group col-md-12">
                            <label for="requestDate">Fecha de la solicitud</label>
                            <div class="input-group">
                                <input name="fecha" id="fecha" [bsConfig]="datePickerConfig" type="text" class="form-control"
                                    placeholder="Fecha de la Firma*" bsDatepicker [(ngModel)]="solicitud.requestDate"
                                    autocomplete="off" disabled>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <label class="ng-tns-c12-9" for="status">Estado</label>
                            <input class="form-control ng-untouched ng-pristine ng-valid" [(ngModel)]="solicitud.status"
                                name="status" ng-model="status" type="text" disabled>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12">
                            <label class="ng-tns-c12-9" for="urlImage">Fotos</label>
                            <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [300x400]" src="{{solicitud.typeService.urlImage}}"
                                style="width: 350px; height: 200px; border-radius: 10%;" disabled>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Cross click')">
            <fa-icon [icon]="faCancel" data-toggle="tooltip" data-placement="top" title="Cancelar"></fa-icon>
        </button>
    </div>
</ng-template>

<!-- eliminar -->
<ng-template #delete let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title"> Eliminar </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="form-control">
                <div class="row">
                    <label class="col col-sm-12" for="razon">Por favor indique la razon por la que deroga la solicitud</label>
                </div>
                <div class="row">
                    <textarea name="razon" id="razon" style="width: 700px; height: 200px; "></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Cross click')">
            <fa-icon [icon]="faCancel" data-toggle="tooltip" data-placement="top" title="Cancelar"></fa-icon>
        </button>
        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="onDelete(1)">
            <fa-icon [icon]="faCheck" data-toggle="tooltip" data-placement="top" title="Guardar"></fa-icon>
        </button>
    </div>
</ng-template>

<!-- editar -->
<ng-template #editar let-c="close" let-d="dismiss">

    <div class="modal-header">
        <h4 class="modal-title"> Solicitud </h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Cancelar">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="form-group">
            <label for="tipos">Nombres</label>
            <input type="text" [(ngModel)]="regModel.nombre" class="form-control" />
        </div>
        <div class="form-group">
            <label for="nombre">Apellidos</label>
            <input type="text" [(ngModel)]="regModel.apellido" class="form-control" />
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="regModel.username" class="form-control" />
        </div>
        <div class="form-group">
            <label for="cargo">Cargo</label>
            <input type="text" [(ngModel)]="regModel.cargo" class="form-control" />
        </div>
        <div class="form-group">
            <label for="fechaini">Fecha de Nacimiento</label>
            <input type="text" placeholder="dd-mm-yyyy" name="dob" [(ngModel)]="regModel.dob" ngbDatepicker #dob="ngbDatepicker"
                class="form-control" dateFormat="dd-MMM-yyyy" />
            <button class="input-group-addon" (click)="dob.toggle()" type="button">
                <img src="assets/images/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;" />
            </button>
        </div>
        <div class="form-group">
            <label for="email">email</label>
            <input type="text" [(ngModel)]="regModel.email" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Contraseña</label>
            <input type="text" [(ngModel)]="regModel.contrasena" class="form-control" />
        </div>
        <div class="form-group">
            <label for="state">Estado</label>
            <div class="col-10 dropdown" ngbDropdown myDrop="ngbDropdown">
                <button type="button" class="btn btn-outline-primary" id="dropdownManual" name="country"
                    ngbDropdownToggle>{{regModel.estado}}</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button type="button" class="dropdown-item" *ngFor="let estado of estados" (click)="onChangeEstado(estado)">{{estado}}</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">

        <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-warning" (click)="c('Close click')">
            <fa-icon style="color: white" [icon]="faEdit" ></fa-icon>
        </button>
    </div>
</ng-template>