<div [@routerTransition]>
    <app-page-header [heading]="'Asignar Promociones'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">
        <div class="card-header" style="text-align: -webkit-center;">Promociones asignadas</div>
        <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <label>Mostrar <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entradas</label>
                </div>
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
                        <span class="input-group-btn">
                            <button style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;"><i
                                    style="color: white" class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col col-sm-4 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                        (click)="open(content)"><i style="color: white" class="fa fa-plus" aria-hidden="true"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of assignpromotions ; let i= index" (click)="onEdit(i)">
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(ver)">
                                    <i style="color: white" class="fa fa-search" aria-hidden="true"></i>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="open(editar)">
                                    <i style="color: white" class="fa fa-edit" aria-hidden="true"></i>
                                </button>
                                <button type="button" style="background: #1AB394; border-radius: 20px; color: white"
                                    (click)="onDelete(i)">
                                    <i style="color: white" class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mb-3">
                <div class="col col-sm-8">
                </div>
                <div class="col col-sm-4 text-right" style="position: relative; top: 15px; ">
                    <ngb-pagination [collectionSize]="70" [(page)]="defaultPagination" style="position: relative; right: 100px;"></ngb-pagination>
                </div>
            </div>
        </div>
    </div>

    <!--Contenido -->
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title ">Asignar Promociones</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card mb-3">
            <div class="modal-body">
                <!--   <div class="flex">
                    <div class="container" dragula="VAMPIRES" [(dragulaModel)]="vamps">
                        <div class="vamp" *ngFor="let vamp of vamps">{{ vamp.name }}</div>
                    </div>
                    <div class="container" dragula="VAMPIRES" [(dragulaModel)]="vamps2">
                        <div class="vamp" *ngFor="let vamp of vamps2">{{ vamp.name }}</div>
                    </div>
                </div>-->
                <div class="row mb-3">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="tipos">Promociones</label>
                            <!-- <select name="nombreAgent" [(ngModel)]="contract.agent.firstName" (ngModelChange)="agentChanged($event)"
                                class="form-control">
                                <option *ngFor="let listAgente of employees" [value]="listAgente.id">
                                    {{listAgente.firstName}} {{listAgente.lastName}}
                                </option>
                            </select> -->
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="card-body">
                        <div class="form-group" style="text-align: -webkit-center;">
                            <label for="tipos">Asignación de Promociones</label>
                        </div>

                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-4">
                                <bs-sortable [(ngModel)]="itemObjectsLeft" fieldName="name" itemClass="sortable-item"
                                    itemActiveClass="sortable-item-active" placeholderItem="Arrastrar la promoción aquí" placeholderClass="sortable-item"
                                    wrapperClass="sortable-wrapper"></bs-sortable>
                            </div>
                            <div class="col-md-4">
                                <bs-sortable [(ngModel)]="itemObjectsRight" fieldName="name" itemClass="sortable-item"
                                    itemActiveClass="sortable-item-active" placeholderItem="Arrastrar la promoción aquí" placeholderClass="sortable-item"
                                    wrapperClass="sortable-wrapper"></bs-sortable>
                            </div>
                            <div class="col-md-2"> </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                    style="color: white" class="fa fa-plus" aria-hidden="true"></i></button>
        </div>
    </ng-template>


    <!--editar -->
    <ng-template #editar let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title ">Editar Promoción</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row mb-3">
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="tipos">Nombre</label>
                        <input type="text" [(ngModel)]="assignpromotion.name" class="form-control" />
                    </div>
                </div>
                <div class="col col-sm-6">
                    <div class="form-group">
                        <label for="nombre">Descripción</label>
                        <input type="text" [(ngModel)]="assignpromotion.description" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                    style="color: white" class="fa fa-edit" aria-hidden="true"></i></button>
        </div>
    </ng-template>

    <!--ver -->
    <ng-template #ver let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title ">Promoción</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="card mb-3">
            <div class="modal-body">
                <div class="row mb-3">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="tipos">Nombre</label>
                            <input type="text" [(ngModel)]="assignpromotion.name" class="form-control" />
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="nombre">Descripción</label>
                            <input type="text" [(ngModel)]="assignpromotion.description" class="form-control" />
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal-footer">
            <button style=" border-radius: 20px" type="button" class="btn btn-danger" (click)="c('Close click')"><i
                    style="color: white" class="fa fa-close" aria-hidden="true"></i></button>
        </div>
    </ng-template>

    <!-- <div class="wrapper" dragula="COLUMNS" [(dragulaModel)]="groups">
                                    <div class="container-draga" *ngFor="let group of groups">
                                    <span class="group-handle">{{group.name}}</span>
                                    <div class="container-draga" dragula="ITEMS" [(dragulaModel)]="group.items">
                                        <div *ngFor="let item of group.items" [innerHtml]="item.name"></div>
                                    </div>
                                    </div>
                            </div> -->