$topnav-background-color: #4b4b4b;
:host {
    .navbar {
        background-color: $topnav-background-color;
        .navbar-brand {
            color: #fff;
        }
        .nav-item > a {
            color: #41ccc7;
            &:hover {
                color: #fff;
            }
        }
    }
    .photo img {
    background-color:#1FB5AD;
    text-decoration:none;
    color:#fff;
    transition:all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;
    border-radius:30px;
    -webkit-border-radius:80px;
}


    .messages {
        width: 300px;
        .media {
            border-bottom: 1px solid #ddd;
            padding: 5px 10px;
            &:last-child {
                border-bottom: none;
            }
        }
        .media-body {
            h5 {
                font-size: 13px;
                font-weight: 600;
            }
            .small {
                margin: 0;
            }
            .last {
                font-size: 12px;
                margin: 0;
            }
        }
    }
}
