<div [@routerTransition]>
    <app-page-header [heading]="'Reportes'" [icon]="'fa-bar-chart-o'"></app-page-header>
    <div class="row">
        <div class="col col-xl-12">
            <div class="card-header" style="position: relative; text-align: -webkit-center">
                Reportes de Transacciones
            </div>

            <div class="card-body">
              
                <div [chart]="chart" id="graficaLineal" style="width: 100%; height: 500px; margin: 0 auto"></div>
            </div>
            <!-- <div class="card-body">
                <canvas baseChart height="150px" [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div> -->
        </div>
    </div>
</div>