<div [@routerTransition]>
        <app-page-header [heading]="'Crear Informe'" [icon]="'fa-edit'"></app-page-header>
        <div class="container">

                <div class="animated fadeIn">
                        <!-- <div class="container"> -->
                        <div class="card-header" style="text-align: -webkit-center;">Registrar Inspección
                                </div>
                                <div class="card mb-3">




                                          <div class="card mb-3">
                                              <div class="modal-body">
                                                  <div class="row mb-3" *ngIf="showView">
                                                      <div class="col col-sm-6">
                                                          <div class="form-group">
                                                              <label for="tipos">Transacciones</label>
                                                              <select class="form-control" name="transacciones">
                                                                  <option>

                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                      <div class="col col-sm-6">
                                                          <div class="form-group">
                                                              <label for="tipos">Tipo de Incidencia</label>

                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="row mb-3" *ngIf="!showView">
                                                      <div class="col col-sm-6">
                                                          <div class="form-group">
                                                              <label for="tipos">Transacciones</label>
                                                              <select class="form-control" name="transacciones">
                                                                  <option>

                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                      <div class="col col-sm-6">
                                                          <div class="form-group">
                                                              <label for="tipos">Motivo</label>
                                                              <select class="form-control" name="typeIncidence">
                                                                  <option>

                                                                  </option>
                                                              </select>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <div class="row mb-3">

                                                      <div class="col col-sm-6">
                                                          <div class="form-group">
                                                              <label for="nombre">Motivo</label>
                                                              <textarea  class="form-control"></textarea>
                                                          </div>
                                                      </div>
                                                  </div>

                                                  <div class="row mb-3">
                                                      <div class="col col-sm-6" *ngIf="!showView">
                                                          <div class="form-group">
                                                              <label for="tipos">Fecha</label>
                                                              <input type="text"  class="form-control" />
                                                          </div>
                                                      </div>
                                                      <div class="col col-sm-6" *ngIf="!showView">
                                                          <div class="form-group">
                                                              <label for="nombre">Cliente</label>
                                                              <input disabled type="text"
                                                                  class="form-control" />
                                                          </div>
                                                      </div>
                                                  </div>



                                              </div>
                                          </div>



                              </div>


                </div>
        </div>
