 <div [@routerTransition]>
    <app-page-header [heading]="'  Reclamos'" [icon]="'fa-edit'"></app-page-header>
     <span>
        Introduzca todos sus datos personales para poder enviarle la confirmación de recepción de su solicitud, 
        en conjunto al número de ticket. No debe adjuntar ni aportar a esta solicitud, datos de carácter 
        personal de categorías especiales (ejemplo datos de viviendam dirección, entre otros), 
        por no ser necesarios para cursar su queja. 
     </span><p></p>
  <hr>
 </div>

<div class="col col-sm-12">
 <div class="form-control">
  <div class="row mb-3">
    <div class="col col-sm-6">
            <div class="form-group">
            <label for="nombre">Nombre(s):</label>
            <input type="text" class="form-control" />
            </div>
        </div>
        <div class="col col-sm-6">
        <div class="form-group">
            <label for="apellido">Apellido(s):</label>
            <input type="text" class="form-control" />
         </div>
       </div>

          <div class="col col-sm-6">
                <div class="form-group">
                    <label for="cedula">Cédula</label>
                    <input type="text" class = "form-control" />
                </div>
            </div>
        <div class="col col-sm-6">
        <div class="form-group">
            <label for="correo">Correo Electronico:</label>
            <input type="text" class="form-control" />
         </div>
       </div>

       <div class="col col-sm-6">
         <div class="form-group">
          <label for="telefono">Teléfono de contacto</label>
           <input type="text" class="form-control" />
         </div>
        </div>
        <div class="col col-sm-6">
              <div class="form-group"><label class="ng-tns-c12-9" for="descripcion">Tipo de Reclamo</label>
                <select class="form-control" name="horas" id="tiporeclamo" required>
                    <option value="0">Seleccionar</option>
                    <option value="1">Reclamo por garantía</option>
                    <option value="2">Servicio de agua defectuoso</option>
                    <option value="3">Daño en estructura</option>
                    <option value="4">Sistema de luz en malas condiciones</option>
                    <option value="5">Problemas con el agente</option>
                    <option value="6">Problemas para concretar la cita</option>
                    <option value="7">Otros</option>
                </select>
              </div>
            </div>
</div>
</div>
<br>

<div class="col col-sm-12">
 <div class="form-control">
    <div class="row mb-3">
        <div class="col col-sm-6">
                <div class="col col-sm-6">
                    <label class="ng-tns-c12-9" for="descripcion">Descripción:</label>
                    <textarea class="form-control ng-untouched ng-pristine ng-valid" type="text" required style="width: 700px; height: 200px; "></textarea>
                </div>
        </div>
        <div class="col col-sm-12">
        <input type="file" (change)="cargandoImagen($event.target.files)" multiple>
        </div>
    </div>
  </div>
</div>
<br>
      <div class="row">
    <div class="col-6">
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="limpiar()">Limpiar</button>
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="enviar()">Enviar Reclamo</button>
     </div>
    </div>

 </div>
    