.btn-register {
    float: right;
    position: relative;
    bottom: 0px;
    right: 10px;
}

h3 {
  margin: 0 0 10px;
}

form, div, i {
  background-color: #ffffff;
  padding: 10px;
 
}

// .button { 
//   // nombre de la clase, para referirnos a ella en el HTML
// 	background-color: #1ab394;  //color de fondo del botón
// 	border-radius: 20px; //borde redondeado del botón
// 	color: #fff; //color del texto dentro del botón
// 	cursor: pointer; // estilo del puntero 
// 	font-size: 16px;//tamaño del texto dentro del botón (y, consecuentemente, del botón mismo)
// 	padding: 16px 24px; //espacio desde los límites del botón al texto que contiene (esto determina también el tamaño)
// 	text-align: center; // texto centrado dentro del botón
// //	text-transform: uppercase; el texto se convierte siempre a mayúsculas
// //	width: auto; ancho del botón automático (según longitud del texto y espacios definidos)
// }

