<div>
<hr>
<h2><i class="fa fa-edit">Reclamos</i></h2>
<hr>

 <div class="row mb-3">
    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Nombre</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Apellido</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Cedula</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Correo</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

     <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Telefono</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
      <div class="form-group"><label class="ng-tns-c12-9" for="descripcion">Tipo de Reclamo</label>
        <select class="form-control" name="horas" id="tiporeclamo" required>
        	<option value="0">Seleccionar</option>
            <option value="1">Servicio de agua defectuoso</option>
            <option value="2">Daño en estructura</option>
            <option value="3">Sistema de luz en malas condiciones</option>
        </select>
      </div>
    </div>

     <!-- <div class="col col-sm-6">
    <div class="form-group">
   <label class="ng-tns-c12-9" for="nombre">Descripcion</label>
      <input class="form-control ng-untouched ng-pristine ng-valid" type="text" [(ngModel)]="reclamos.descripcion" #descripcion="ngModel" required>
     </div>
   </div> -->


</div>
 