<div [@routerTransition]>
    <app-page-header [heading]="'Reservar'" [icon]="'fa-edit'"></app-page-header>

    <div class="container">

        <div class="card">
            <div class="card-header" style="text-align: -webkit-center;">Reserva de Inmuebles</div>

            <div class="card-body mb-3">
                <tabset #tabset>
                    <tab heading="Reservadas" id="first" >
                        <div class="row">
                            <div class="card-body  table-responsive">
                                <table class="card-body table table-hover">
                                    <thead>
                                        <tr>
                                            <!--crear json -->
                                            <th>Transacción</th>
                                            <th>Inmueble</th>
                                            <!--tipo de inmueble-->
                                            <th>Fecha de Inicio</th>
                                            <th colspan="4">Acciones</th>
                                        </tr>
                                    </thead>
                                    <thead>
                                            <tr>
                                              <th style="background-color:transparent">
                                                <input
                                                class="form-control mr-sm-2"
                                                type="text"
                                                placeholder="Transacción..."
                                                aria-label="Search"
                                                [(ngModel)]="resTrans"
                                                />
                                              </th>
                                              <th style="background-color:transparent">
                                                <input
                                                class="form-control mr-sm-2"
                                                type="text"
                                                placeholder="Inmueble..."
                                                aria-label="Search"
                                                [(ngModel)]="resInmueble"
                                                />
                                              </th>
                                              <th style="background-color:transparent">
                                                <input
                                                class="form-control mr-sm-2"
                                                type="text"
                                                placeholder="Fecha..."
                                                aria-label="Search"
                                                [(ngModel)]="resFecha"
                                                />
                                              </th>
                                            </tr>
                                          </thead>
                                    <tbody>
                                        <tr *ngFor="let item of listtransactions | searchfilter: resTrans:resInmueble:resFecha; let i=index">
                                            <td>{{ item.nameForEmployee}}</td>
                                            <td>{{ item.property.nameDisplay}}</td>
                                            <td>{{ item.request.requestDate}}</td>
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic example">
                                                    <button style="background: #1AB394; border-radius: 20px; color: white"
                                                        type="button" (click)="open(ver)">
                                                        <fa-icon [icon]="faEye" data-toggle="tooltip" data-placement="top"
                                                            title="Detalle"></fa-icon>
                                                    </button>
                                                    <button style="background: #1AB394; border-radius: 20px; color: white"
                                                        (click)="cancelar(i)" type="button">
                                                        <fa-icon [icon]="faCancel" data-toggle="tooltip" data-placement="top"
                                                            title="Cancelar"></fa-icon>
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </tab>

                    <tab tab2 heading=" Por Procesar" id="second">
                            <div class="row">     
                                    <div class="card-body  table-responsive">
                                        <table class="card-body table table-hover">
                                            <thead>
                                                <tr>
                                                    <!--crear json -->
                                                    <th>Transacción</th>
                                                    <th>Inmueble</th>
                                                    <!--tipo de inmueble-->
                                                    <th>Fecha de Comienzo</th>
                                                    <th colspan="2">Acciones</th>
                                                </tr>
                                            </thead>
                                            <thead>
                                                    <tr>
                                                      <th style="background-color:transparent">
                                                        <input
                                                        class="form-control mr-sm-2"
                                                        type="text"
                                                        placeholder="Transacción..."
                                                        aria-label="Search"
                                                        [(ngModel)]="resTranspro"
                                                        />
                                                      </th>
                                                      <th style="background-color:transparent">
                                                            <input
                                                            class="form-control mr-sm-2"
                                                            type="text"
                                                            placeholder="Inmueble..."
                                                            aria-label="Search"
                                                            [(ngModel)]="resInmpro"
                                                            />
                                                          </th>
                                                      <th style="background-color:transparent">
                                                        <input
                                                        class="form-control mr-sm-2"
                                                        type="text"
                                                        placeholder="Fecha..."
                                                        aria-label="Search"
                                                        [(ngModel)]="resFechapro"
                                                        />
                                                      </th>
                                                    </tr>
                                                  </thead>
                                            <tbody>
                                                <tr *ngFor="let item of pendingtransactions | searchfilter: resTranspro:resInmpro:resFechapro ; let i=index">
                                                    <td>{{ item.nameForEmployee}}</td>
                                                    <td>{{ item.property.nameDisplay}}</td>
                                                    <td>{{ item.request.requestDate}}</td>
                                                    <td>
                                                        <div class="btn-group" role="group" aria-label="Basic example">
                                                            <button style="background: #1AB394; border-radius: 20px; color: white"
                                                                type="button" (click)="open(ver)">
                                                                <fa-icon [icon]="faEye" data-toggle="tooltip" data-placement="top"
                                                                    title="Detalle"></fa-icon>
                                                            </button>
        
                                                            <button style="background: #1AB394; border-radius: 20px; color: white"
                                                                (click)="aceptar(i)" type="button">
                                                                <fa-icon [icon]="faCheck" data-toggle="tooltip" data-placement="top"
                                                                    title="Aceptar"></fa-icon>
                                                            </button>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                    </tab>
                </tabset>


            </div>
        </div>
    </div>

    
    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
            <div class="col-4"></div>
            <h4 class="modal-title ">{{modalTitle}}</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <fieldset [disabled]="disabled">
            <div class="card mb-3">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="tipos">Nombre Cliente</label>
                                <input type="text" [(ngModel)]="transaction.nameForEmployee" class="form-control" />
                            </div>
                        </div>
                        <div class="col col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="tipos">Propiedad</label>
                                <input type="text" [(ngModel)]="transaction.property.nameDisplay" class="form-control" />
                            </div>
                        </div>
                        <div class="col col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="tipos"> Ubicación </label>
                                <input type="text" [(ngModel)]="transaction.property.nameDisplay" class="form-control" />
                            </div>
                        </div>
                        <div class="col col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="tipos">Ubicación</label>
                                <select class="form-control" name="typeinput" id="typeinput" [(ngModel)]="transaction.property.ubication">
                                    <option *ngFor="let type of typeinputs" [value]="type.id">{{type.name}}</option>
                                </select>
                            </div>
                        </div>

                        </div>
                    </div>

                </div>
          
        </fieldset>
        <div class="modal-footer">
            <button style="border-radius: 20px" type="button" class="btn btn-danger" (click)="d('Cross click')"><i
                    style="color: white" class="fa fa-close" aria-hidden="true" data-toggle="tooltip" data-placement="top"
                    title="Cancelar"></i></button>
            <div *ngIf="submitType!='show'">
                <button style="background: #1AB394; border-radius: 20px" type="button" class="btn btn-success" (click)="c('Close click')"><i
                        style="color: white" class={{modalIcon}} aria-hidden="true" data-toggle="tooltip"
                        data-placement="top" title="Editar"></i></button>
            </div>
        </div>
    </ng-template>