<div [@routerTransition]>
    <app-page-header [heading]="'Reservar'" [icon]="'fa-edit'"></app-page-header>
    <div class="container">
        <div class="card-header" style="text-align: -webkit-center;">Reserva de inmuebles</div>
     
      <div class="card mb-3">
            <div class="row mb-3">
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <label>Mostrar <select name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                        </select> entradas</label>
                </div>
                <div class="col col-sm-4" style="position: relative; top: 15px;">
                    <div class="input-group">
                        <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." aria-label="Search">
                        <span class="input-group-btn">
                            <button style="background: #1AB394; border-radius: 100%;font-size:24px; height: 40px; width: 40px;"><i
                                    style="color: white" class="fa fa-search" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Buscar"></i></button>
                        </span>
                    </div>
                </div>
                <div class="col col-sm-4 text-right">
                    <button style="position: relative; top: 15px; right: 15px; height: 40px; width: 40px; background: #1AB394; border-radius: 100%;font-size:24px; "
                        ><i style="color: white" class="fa fa-plus" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Agregar"></i></button>
                </div>
            </div>
            <div class="card-body  table-responsive">
                <h4>las transacciones del empleado, aún no tienen asociados los inmuebles</h4>
                <table class="card-body table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Inmueble</th>
                            <th>Cliente</th>
                            <th> Estatus </th>
                            <th colspan="4">Acciones</th>
                        </tr>
                    </thead>
                    <thead>
                        <tr>
                          <th style="background-color:transparent">
                            <input
                            class="form-control mr-sm-2"
                            type="text"
                            placeholder="Buscar por Fecha..."
                            aria-label="Search"
                            [(ngModel)]="resDate"
                            />
                          </th>
                          <th style="background-color:transparent">
                            <input
                            class="form-control mr-sm-2"
                            type="text"
                            placeholder="Buscar por Inmueble..."
                            aria-label="Search"
                            [(ngModel)]="resInmueble"
                            />
                          </th>
                          <th style="background-color:transparent">
                            <input
                            class="form-control mr-sm-2"
                            type="text"
                            placeholder="Buscar por Cliente..."
                            aria-label="Search"
                            [(ngModel)]="resCliente"
                            />
                          </th>
                          <th style="background-color:transparent">
                            <input
                            class="form-control mr-sm-2"
                            type="text"
                            placeholder="Buscar por Estatus..."
                            aria-label="Search"
                            [(ngModel)]="resEstatus"
                            />
                          </th>
                        </tr>
                      </thead>
                    <tbody>
                        <tr *ngFor="let item of transactions | searchfilter: resDate:resInmueble:resCliente:resEstatus; let i=index">
                            <td>{{ item.status }}</td>
                            <td>{{ item.nameForClient }}</td>
                            <td>{{ item.nameForEmployee }}</td>
                            <td>---Status</td>
                            <td>---Acciones
                               <!--  <button style="background: #1AB394; border-radius: 20px; color: white" type="button" (click)="open(ver)" ><fa-icon [icon]="faEye" data-toggle="tooltip" data-placement="top" title="Detalle"></fa-icon></button>
                                <button style="background: #1AB394; border-radius: 20px; color: white" (click)="open(editar)" type="button" ng-click="fetchSingleData(name.id)" ><fa-icon [icon]="faEdit" data-toggle="tooltip" data-placement="top" title="Editar"></fa-icon></button>
                                <button style="background: #1AB394; border-radius: 20px; color: white" (click)="delete()" type="button"  ><fa-icon [icon]="faTrash" data-toggle="tooltip" data-placement="top" title="Eliminar"></fa-icon></button> -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
           
        </div>

        </div>
        </div>