@import "../node_modules/angular-calendar/css/angular-calendar.css";

/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;

  height: 100%;
}

body > app-root > app-layout > section > app-usuario > ng4-loading-spinner > div.hidden.spinner.center{

  position: absolute;
  padding: 0px;
  top: 500px;
  left: 500px;
  height: 100%;
  width: 100%;
  z-index: 9998;
  background: #000;
  opacity: 0.6;
  transition: opacity 0.3s linear;

}