<form>
  <div >
 <div class="row mb-3">
  <div class="col col-sm-2" >
            <div class="team-member">
              <img class="mx-auto rounded-circle" src="\assets\images\1.jpg" alt="">
              <h1>Katerin Sierra</h1>
              <p class="text-muted">ignus@gmail.com</p>
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fa fa-star"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-6" style="text-align: center">
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" 

(click)="editar()">Editar Perfil</button>
    </div>
          </div>
    </div>
</div> 

<div>
  <h2><i class="fa fa-user-circle-o">Datos del Usuario</i></h2>
  <!--Datos que el ciente ingreso al suscribir-->
  <div class="row mb-3">
    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Nombre</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Apellido</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Cedula</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Correo</label>
                    <input type="text" class="form-control" />
                </div>
    </div>
     <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Telefono</label>
                    <input type="text" class="form-control" />
                </div>
    </div>
</div>
<!--fin de los datos de suscripcion-->
<h2><i class="fa fa-star">Gustos y Preferencias</i></h2>
<div>
  <div class="row mb-3">
    <div class="col col-sm-6">
      <div class="form-group"><label class="ng-tns-c12-9" for="descripcion">Tipo Solicitud</label>
        <select class="form-control" name="horas" id="tiposolicitud" required>
          <option value="0">Seleccione</option>
          <option value="1">Compra</option>
          <option value="2">Alquiler</option>
          <option value="1">Venta</option>
          <option value="2">Arrendamiento</option>
        </select>
      </div>
    </div>

     <div class="col col-sm-6">
      <div class="form-group"><label class="ng-tns-c12-9" for="descripcion">Tipo de Inmueble</label>
        <select class="form-control" name="horas" id="tiposolicitud" required>
          <option value="0">Seleccione</option>
          <option value="1">Casa</option>
          <option value="2">Edificio</option>
          <option value="3">Terreno</option>
          <option value="4">Parcela</option>
        </select>
      </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos">Estado</label>
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="nombre">Municipio</label>
                    <input type="text" class="form-control" />
                </div>
    </div> 
        
     <div class="col col-sm-6">
      <div class="form-group"><label class="ng-tns-c12-9" for="descripcion">Parroquia</label>
        <select class="form-control" name="horas" id="tiposolicitud" required>
          <option value="0">Seleccione</option>
          <option value="1">Concepción</option>
          <option value="2">Catedral</option>
          <option value="3">Juan de Villegas</option>
          <option value="4">Unión</option>
          <option value="5">Tamaca</option>
          <option value="6">El Cují</option>
        </select>
      </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="nombre">Cantidad de Habitaciones</label>
                    <input type="text" class="form-control" />
                </div>
    </div> 

    
   <!-- <div class="col col-sm-6">
      <div class="form-group"><label class="ng-tns-c12-9" for="descripcion">Recaudo</label>
        <input class="form-control ng-untouched ng-pristine ng-valid" type="file" [(ngModel)]

="solicitud2.foto" #fotos="ngModel"
          required>
      </div>
    </div> -->
 
  </div>
  </div>
</div>

<div>
  <h2><i class="fa fa-user">Redes Sociales</i></h2>
  <div class="row mb-3">
    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos" class="fa fa-facebook-f">Facebook</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos" class="fa fa-star">Instagram</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos" class="fa fa-twitter">Twitter</label>
                    <input type="text" class="form-control" />
                </div>
    </div>

    <div class="col col-sm-6">
                <div class="form-group">
                    <label for="tipos" class="fa fa-star">Likedin</label>
                    <input type="text" class="form-control" />
                </div>
    </div>
</div>
</div>

<div>
<h2><i class="fa fa-star">Otras Preferencias</i></h2>

<label><input type="checkbox" id="cbox1" value="first_checkbox">Terraza</label><br>
<input type="checkbox" id="cbox2" value="second_checkbox"> <label for="cbox2">Piscina</label><br>
<label><input type="checkbox" id="cbox3" value="first_checkbox">Mascotas</label><br>
<input type="checkbox" id="cbox4" value="second_checkbox"> <label for="cbox4">Piscina</label><br>

<hr>
 <div class="row" style="text-align: center">
    <div class="col-6" style="text-align: center">
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" 

(click)="cancelar()">Cancelar</button>
      <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" 

(click)="guardar()">Guardar Cambios</button>
    </div>
  </div>
  <hr>

</div>

</form>