<div [@routerTransition]>

        <app-page-header [heading]="'Valoracion'" [icon]="'fa-edit'"></app-page-header>

        <div class="card-header" style="text-align: -webkit-center;">Calificacion del Servicio</div>

        <div class="container">


                <div class="row mb-3" *ngFor="let item of valorations; let i=index">
                        <div class="col col-sm-6">
                                <label for="descripcion"><B>{{item.name}}</B></label>
                        </div>

                        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                        
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input id="radio1" type="radio" class="custom-control-input" name="radios"  value="" >
                                            <label class="custom-control-label" for="radio1">  Bueno </label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                                <input id="radio2" type="radio" class="custom-control-input" name="radios"  value="" >
                                                <label class="custom-control-label" for="radio2">  Regular </label>
                                              </div> 
                                        <div class="custom-control custom-radio custom-control-inline">
                                                <input id="radio3" type="radio" class="custom-control-input" name="radios"  value="" >
                                                <label class="custom-control-label" for="radio3">  Malo </label>
                                                </div>  

                                               
        
                        
                        
                        </div>
         
            
                      
              
              
                        

</div>
               

                <div class="row mb-3">
                        <div class="col col-sm-12">
                                <div class="form-group">
                                        <label for="tipos">Observaciones</label>
                                        <input type="textarea" class="form-control" />
                                </div>
                        </div>
                </div>
                <hr>
                <div>
                        <div class="row">
                                <div class="col-6">
                                        <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white"
                                                (click)="limpiar()">Limpiar</button>
                                        <button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white"
                                                (click)="enviar()">Enviar Valoracion</button>

                                                
                                                
                                </div>

                        </div>

                </div>
        </div>