<div [@routerTransition]>

	<app-page-header [heading]="'Valoracion'" [icon]="'fa-edit'"></app-page-header>

	<div class="card-header" style="text-align: -webkit-center;">Calificacion del Servicio</div>

	<div class="container">


		<div class="row mb-3" *ngFor="let item of valorations; let i=index">
			<div class="col col-sm-6">
				<label>{{item.name}}</label>
			</div>

		
<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="materialInline1" name="inlineMaterialRadiosExample" value="1">
  <label class="form-check-label" for="materialInline1">Excelente</label>
</div>

<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="materialInline2" name="inlineMaterialRadiosExample">
  <label class="form-check-label" for="materialInline2">Buena</label>
</div>

<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
  <label class="form-check-label" for="materialInline3">Media</label>
</div>
<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
  <label class="form-check-label" for="materialInline3">Suficiente</label>
</div>
<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="materialInline3" name="inlineMaterialRadiosExample">
  <label class="form-check-label" for="materialInline3">Insuficiente</label>
</div>


	</div>
	<div class="row mb-3">
		<div class="col col-sm-12">
			<div>
				<div class="row">
					<div class="col-6">
						<button type="button" class="btn btn-outline-secondary" style="background: #1AB394; color: white" (click)="enviar()">Enviar
							Calificacion</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>